{
  "openapi": "3.1.0",
  "info": {
    "title": "Flow API - Documentação de Pagamentos",
    "description": "API para criação e gerenciamento de pagamentos PIX através da integração com a Woovi",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://seu-dominio.com",
      "description": "Produção"
    },
    {
      "url": "http://localhost:3000",
      "description": "Desenvolvimento"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/flow-api/charge": {
      "post": {
        "summary": "Criar Pagamento",
        "description": "Cria uma nova cobrança PIX e retorna o código PIX e QR Code para pagamento",
        "operationId": "createCharge",
        "requestBody": {
          "description": "Dados do pagamento",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou não fornecida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/flow-api/charge/{chargeId}": {
      "get": {
        "summary": "Verificar Status do Pagamento",
        "description": "Verifica o status atual de uma charge criada anteriormente",
        "operationId": "verifyCharge",
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "description": "ID da charge retornado ao criar o pagamento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "ID da charge é obrigatório",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API key inválida ou inativa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Charge não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateChargeRequest": {
        "type": "object",
        "required": ["value"],
        "properties": {
          "value": {
            "type": "number",
            "description": "Valor do pagamento em reais (ex: 1.00 = R$ 1,00)",
            "minimum": 0.01,
            "example": 1.00
          },
          "description": {
            "type": "string",
            "description": "Descrição do pagamento",
            "example": "Pagamento de teste via API"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Tempo de expiração em segundos (padrão: 3600 = 1 hora)",
            "minimum": 60,
            "default": 3600,
            "example": 3600
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do cliente",
            "example": "Cliente Teste"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email do cliente",
            "example": "cliente@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Telefone do cliente (formato: +5511999999999)",
            "example": "+5511999999999"
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID único da charge (correlationID)",
            "example": "flow_123_1704067200000_abc123"
          },
          "value": {
            "type": "number",
            "description": "Valor do pagamento em reais",
            "example": 1.00
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "PAID", "CONFIRMED", "COMPLETED", "EXPIRED", "CANCELLED"],
            "description": "Status da charge",
            "example": "ACTIVE"
          },
          "pixCode": {
            "type": "string",
            "description": "Código PIX copia e cola (texto)",
            "example": "00020126580014br.gov.bcb.pix..."
          },
          "pixCodeBase64": {
            "type": "string",
            "description": "Código PIX em base64",
            "example": "MDAwMjAxMjY1ODAwMTRicjpnb3YuYmNiLnBpeC4uLg=="
          },
          "qrCode": {
            "$ref": "#/components/schemas/QRCode"
          },
          "publicPaymentUrl": {
            "type": "string",
            "description": "Link público para página de pagamento",
            "example": "http://localhost:3000/pagamento-publico/flow_123_1704067200000_abc123"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora de expiração (ISO 8601)",
            "example": "2024-01-01T12:00:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora de criação (ISO 8601)",
            "example": "2024-01-01T11:00:00.000Z"
          }
        }
      },
      "QRCode": {
        "type": "object",
        "properties": {
          "emv": {
            "type": "string",
            "description": "Código PIX EMV (mesmo que pixCode)",
            "example": "00020126580014br.gov.bcb.pix..."
          },
          "image": {
            "type": "string",
            "description": "Imagem do QR Code em base64 (data URI)",
            "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "charge": {
            "$ref": "#/components/schemas/Charge"
          },
          "woovi_response": {
            "type": "object",
            "description": "Resposta completa da Woovi"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensagem de erro",
            "example": "Valor inválido. Deve ser um número maior que zero."
          },
          "details": {
            "type": "object",
            "description": "Detalhes adicionais do erro"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API Key no formato Bearer Token. Exemplo: Authorization: Bearer flow_PnoJ4RIjN2Qs6yre1S87blyI3qqGlERvMQX1njoAkl0="
      }
    }
  }
}
